<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Introducing me, Raccooncho </title>
    
</head>

<body>
    
    <header>
        <h1> <img src="https://i.pinimg.com/originals/cc/b9/b3/ccb9b3fa57e76bbe5950965097b90db6.jpg" alt="img error" height="100" width="60" /> Hello~~ </h1>
    </header>
    
    <div>
        <p> I am <strong>raccooncho</strong> who operates <strong>Happy Lottery World</strong> service. In the HLW site I provide some servicese about lottery. </p>
        <p> You can get daily 6 random numbers to test your weekly lucky. </p>
        <p> and, You also can get this week's lottery numbers. </p>
        <p> Please enjoy my service and test your weekly lucky!!! </p>
    </div>
    
    <footer>
        <a href="../"> Go to main page </a>
    </footer>
    
</body>

</html>
