<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ping</title>
</head>

<body>
    <h1>궁합을 봐드려요!</h1>
    <p> 
        999999999999개의 빅데이터를 기반으로 궁합을 봐 드립니다.
    </p>
    <form action="/pong">
        <input type="text" name="me" />
        <input type="text" name="ssum" />
        
        <input type="submit" value="얍!" />
    </form>
</body>


</html>